<a href="https://colab.research.google.com/github/1012357482/ConsumoAguaSeriesTemporales/blob/developer/ConsumoAguaSeriesTemporales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto predicci√≥n del consumo del agua**

![ETITC.png]()

#Escuela Tecn√≥logica Instituto T√©cnico Central

##*Facultad Ingenieria de Sistemas**

###*Electiva T√©cnica IV, Ciencia de datos*

### Profesor: El√≠as Buitrago

### Alumnos: Ferrixon Matiz, Camilo Reyes.

#1. Entendimiento del negocio

Para entender realmente el conjunto de datos, se estudiar√° el significado y la relevancia de cada variable con respecto al problema. Se buscar√° responder a diversas cuestiones sobre ellas, como:

*  Entendimiento de los datos.
*  La relevancia de las variables.

Para el conjunto de datos [Cardiovascular Disease dataset](https://www.superservicios.gov.co/sites/default/files/inline-files/Consumos-Historicos-de-Agua-Potable-2014-2021.xlsx), se buscar√° la predicci√≥n de consumo de agua para la ciudad de bogota en el a√±o 2022.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset=pd.read_csv('/content/drive/MyDrive/Consumo_de_agua_potable_en_el_casco_urbano_primer_semestre.csv', sep=',')

In [ ]:
dataset.head()

,Tipo,ESTRATO,CONSUMO ENERO,CONSUMO FEBRERO,CONSUMO MARZO,CONSUMO ABRIL,CONSUMO MAYO,CONSUMO JUNIO,PROMEDIO,A√ëO
0,RESIDENCIAL,ESTRATO 1,180,220,230,330,260,300,2.533333e+16,2020
1,RESIDENCIAL,ESTRATO 2 .,0,0,0,0,0,0,0.000000e+00,2020
2,RESIDENCIAL,ESTRATO 2 .,180,240,290,290,220,320,2.566667e+16,2020
3,RESIDENCIAL,ESTRATO 2,180,130,180,280,240,200,2.016667e+16,2020
4,RESIDENCIAL,ESTRATO 2 .,510,320,300,360,330,350,3.616667e+16,2020

Se elimina la columna id del conjunto de datos.

In [ ]:
#dataini = dataset
# axis=1 --> elimina columnas
#dataini = dataini.drop(['Tipo', ], axis=1)

## 1.1 An√°lisis exploratorio de datos.

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6944 entries, 0 to 6943
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6943 non-null   object
 1   Unnamed: 1   6943 non-null   object
 2   Unnamed: 2   6943 non-null   object
 3   Unnamed: 3   6943 non-null   object
 4   Unnamed: 4   6943 non-null   object
 5   Unnamed: 5   6943 non-null   object
 6   Unnamed: 6   6805 non-null   object
 7   Unnamed: 7   6533 non-null   object
 8   Unnamed: 8   5700 non-null   object
 9   Unnamed: 9   3222 non-null   object
 10  Unnamed: 10  1502 non-null   object
 11  Unnamed: 11  1024 non-null   object
 12  Unnamed: 12  5415 non-null   object
 13  Unnamed: 13  6016 non-null   object
 14  Unnamed: 14  5323 non-null   object
 15  Unnamed: 15  3030 non-null   object
 16  Unnamed: 16  1151 non-null   object
 17  Unnamed: 17  925 non-null    object
dtypes: object(18)
memory usage: 976.6+ KB

In [ ]:
dataset['A√ëO'].unique()

array([2020, 2021])

Debido a la insuficiencia de datos se cambia el enfoque.

In [ ]:
dataset_general=pd.read_csv('/content/drive/MyDrive/Consumos-Historicos-de-Agua-Potable-2014-2021.csv', sep=';')

In [ ]:
dataset_general.head()

,IDENTIFICADOR EMPRESA,EMPRESA,A√ëO,C√ìDIGO DANE,DEPARTAMENTO,MUNICIPIO,1T,2T,3T,4T,5T,6T,1P,2P,3P,4P,5P,6P
0,980,MUNICIPIO DE PUERTO NARI√ëO,2014,91540,AMAZONAS,PUERTO NARINO,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76,OFICINA DE SERVICIOS P√öBLICOS DE MONTEBELLO,2014,5467,ANTIOQUIA,MONTEBELLO,9.377,21.342,28.045,NaN,NaN,NaN,"10,75","9,52","9,32",NaN,NaN,NaN
2,77,EMPRESAS PUBLICAS MUNICIPALES DE PUERTO NARE E...,2014,5585,ANTIOQUIA,PUERTO NARE,227.554,393.354,59.762,NaN,NaN,NaN,"15,17","15,93","14,80",NaN,NaN,NaN
3,91,EMPRESA DE SERVICIOS PUBLICOS LA UNION S.A E.S.P.,2014,5400,ANTIOQUIA,LA UNION,41.721,314.515,111.779,4.155,NaN,NaN,"13,56","11,15","11,37","28,85",NaN,NaN
4,96,EMPRESA DE SERVICIOS P√öBLICOS DE EL CARMEN DE ...,2014,5148,ANTIOQUIA,EL CARMEN DE VIBORAL,13.849,369.051,608.558,1.417,NaN,NaN,"12,91","10,96","9,76","4,70",NaN,NaN

### 1.1.2 Se filtra el dataset para la ciudad  de B√≥gota D.C.

In [ ]:
dataset_general['MUNICIPIO'].unique()

array(['PUERTO NARINO', 'MONTEBELLO', 'PUERTO NARE', 'LA UNION',
       'EL CARMEN DE VIBORAL', 'MEDELLIN', 'BARBOSA', 'BELLO', 'CALDAS',
       'COPACABANA', 'ENVIGADO', 'GIRARDOTA', 'ITAGUI', 'LA ESTRELLA',
       'SABANETA', 'CAMPAMENTO', 'URRAO', 'ANZA', 'GUARNE', 'FRONTINO',
       'PENOL', 'ALEJANDRIA', 'BELMIRA', 'GUATAPE', 'ABEJORRAL',
       'SAN VICENTE', 'CONCEPCION', 'CONCORDIA', 'LA CEJA', 'NECOCLI',
       'SAN PEDRO DE URABA', 'AMALFI', 'ANORI', 'ARBOLETES', 'ARMENIA',
       'PUERTO TRIUNFO', 'SAN JOSE DE LA MONTANA', 'SAN PEDRO',
       'SANTA ROSA DE OSOS', 'TITIRIBI', 'VENECIA', 'ANDES',
       'CIUDAD BOLIVAR', 'JARDIN', 'SEGOVIA', 'RIONEGRO', 'CAROLINA',
       'PUERTO BERRIO', 'FREDONIA', 'SANTA BARBARA', 'ZARAGOZA',
       'EL SANTUARIO', 'YOLOMBO', 'GOMEZ PLATA', 'MARINILLA', 'GRANADA',
       'COCORNA', 'CAICEDO', 'YONDO', 'RETIRO', 'TOLEDO', 'SANTO DOMINGO',
       'ENTRERRIOS', 'OLAYA', 'NARINO', 'SALGAR', 'ANGELOPOLIS',
       'SAN CARLOS', 'EBEJICO', 'CACERES', 'CAUCASIA', 'NECHI', 'TARAZA',
       'VIGIA DEL FUERTE', 'LA PINTADA', 'VEGACHI', 'CARACOLI',
       'HISPANIA', 'LIBORINA', 'CISNEROS', 'PUEBLORRICO', 'VALDIVIA',
       'APARTADO', 'CAREPA', 'CHIGORODO', 'MUTATA', 'TURBO', 'AMAGA',
       'SANTAFE DE ANTIOQUIA', 'SAN JERONIMO', 'SOPETRAN', 'YARUMAL',
       'SABANALARGA', 'TARSO', 'BRICENO', 'YALI', 'ANGOSTURA', 'ARGELIA',
       'BETULIA', 'URAMITA', 'JERICO', 'MACEO', 'SAN ANDRES DE CUERQUIA',
       'DABEIBA', 'GIRALDO', 'GUADALUPE', 'SAN RAFAEL', 'SAN LUIS',
       'CARAMANTA', 'PEQUE', 'ITUANGO', 'EL BAGRE', 'SONSON',
       'SAN FRANCISCO', 'ARAUCA', 'TAME', 'SARAVENA', 'FORTUL',
       'ARAUQUITA', 'PUERTO RONDON', 'CRAVO NORTE', 'SAN ANDRES',
       'PROVIDENCIA', 'BARRANQUILLA', 'BARANOA', 'GALAPA',
       'JUAN DE ACOSTA', 'PALMAR DE VARELA', 'PIOJO', 'POLONUEVO',
       'PONEDERA', 'PUERTO COLOMBIA', 'SABANAGRANDE', 'SANTO TOMAS',
       'SOLEDAD', 'TUBARA', 'USIACURI', 'LURUACO', 'MALAMBO',
       'BOGOTA, D.C.', 'CARTAGENA', 'ARJONA', 'TURBACO',
       'SANTA ROSA DEL SUR', 'EL CARMEN DE BOLIVAR', 'ARENAL', 'ZAMBRANO',
       'SANTA CATALINA', 'SAN JUAN NEPOMUCENO', 'SAN ESTANISLAO',
       'SANTA ROSA', 'SOPLAVIENTO', 'VILLANUEVA', 'NOROSI (1)', 'CALAMAR',
       'MAHATES', 'EL PENON', 'MAGANGUE', 'SAN PABLO', 'ARROYOHONDO',
       'MARIA LA BAJA', 'SOATA', 'TURMEQUE', 'OICATA', 'GUATEQUE',
       'CHITA', 'DUITAMA', 'AQUITANIA', 'PUERTO BOYACA', 'VILLA DE LEYVA',
       'CHIQUINQUIRA', 'JENESANO', 'SAN LUIS DE GACENO', 'GAMEZA',
       'PAJARITO', 'QUIPAMA', 'SANTA MARIA', 'SANTA SOFIA', 'PAUNA',
       'TIPACOQUE', 'MUZO', 'FIRAVITOBA', 'COVARACHIA', 'EL ESPINO',
       'PAZ DE RIO', 'SOCHA', 'TASCO', 'COPER', 'SATIVANORTE', 'TUNJA',
       'BUSBANZA', 'BETEITIVA', 'TIBASOSA', 'CAMPOHERMOSO', 'TOCA',
       'SAN PABLO DE BORBUR', 'ZETAQUIRA', 'PESCA', 'GACHANTIVA',
       'G√úICAN', 'SORA', 'SUSACON', 'SUTATENZA', 'IZA', 'SAN EDUARDO',
       'SATIVASUR', 'SUTAMARCHAN', 'PAEZ', 'TUTA', 'COMBITA', 'CHIVOR',
       'GARAGOA', 'RAQUIRA', 'CHINAVITA', 'LA UVITA', 'GUAYATA', 'TOTA',
       'TUNUNGUA', 'MARIPI', 'CUBARA', 'SOMONDOCO', 'PACHAVITA',
       'SIACHOQUE', 'PISBA', 'RONDON', 'BERBEO', 'BOAVITA', 'SOCOTA',
       'LA VICTORIA', 'LA CAPILLA', 'MONGUI', 'CHIQUIZA', 'SANTANA',
       'ARCABUCO', 'EL COCUY', 'GUACAMAYAS', 'MACANAL', 'PANQUEBA',
       'PAIPA', 'CHISCAS', 'TENZA', 'CUCAITA', 'FLORESTA', 'MOTAVITA',
       'TUTAZA', 'SAN MATEO', 'BUENAVISTA', 'MIRAFLORES',
       'SAN JOSE DE PARE', 'OTANCHE', 'CHITARAQUE', 'TINJACA', 'NOBSA',
       'TOG√úI', 'MONIQUIRA', 'SAN MIGUEL DE SEMA', 'BOYACA', 'CIENEGA',
       'TIBANA', 'UMBITA', 'SORACA', 'NUEVO COLON', 'SABOYA', 'CORRALES',
       'VILLAMARIA', 'AGUADAS', 'ANSERMA', 'BELALCAZAR', 'CHINCHINA',
       'FILADELFIA', 'LA DORADA', 'MANZANARES', 'MARMATO', 'MARQUETALIA',
       'MARULANDA', 'NEIRA', 'PALESTINA', 'RIOSUCIO', 'RISARALDA',
       'SALAMINA', 'SAMANA', 'SAN JOSE', 'SUPIA', 'VICTORIA', 'VITERBO',
       'PENSILVANIA', 'PACORA', 'MANIZALES', 'ARANZAZU', 'NORCASIA',
       'LA MERCED', 'CARTAGENA DEL CHAIRA', 'FLORENCIA', 'MORELIA',
       'CURILLO', 'PUERTO RICO', 'LA MONTANITA', 'ALBANIA',
       'SAN VICENTE DEL CAGUAN', 'SAN JOSE DEL FRAGUA',
       'BELEN DE LOS ANDAQUIES', 'EL PAUJIL', 'EL DONCELLO', 'SOLANO',
       'TRINIDAD', 'NUNCHIA', 'AGUAZUL', 'TAURAMENA', 'PAZ DE ARIPORO',
       'YOPAL', 'MONTERREY', 'LA SALINA', 'HATO COROZAL', 'OROCUE',
       'PORE', 'TAMARA', 'SACAMA', 'SAN LUIS DE PALENQUE', 'POPAYAN',
       'CALOTO(1)(3)', 'MIRANDA', 'GUACHENE (1) ', 'PUERTO TEJADA',
       'VILLA RICA', 'SANTANDER DE QUILICHAO', 'CORINTO', 'PIENDAMO',
       'PATIA', 'MERCADERES', 'TIMBIO', 'EL TAMBO', 'BALBOA', 'SILVIA',
       'PADILLA', 'CALDONO', 'LOPEZ', 'BOLIVAR', 'PIAMONTE', 'SUCRE',
       'VALLEDUPAR', 'AGUSTIN CODAZZI', 'BOSCONIA', 'PAILITAS',
       'AGUACHICA', 'CURUMANI', 'MANAURE', 'SAN ALBERTO', 'LA GLORIA',
       'CHIRIGUANA', 'PELAYA', 'GONZALEZ', 'LA JAGUA DE IBIRICO',
       'TAMALAMEQUE', 'EL CARMEN DE ATRATO', 'QUIBDO', 'MEDIO ATRATO',
       'EL LITORAL DEL SAN JUAN', 'BAJO BAUDO', 'UNGUIA', 'SIPI', 'NUQUI',
       'EL CANTON DEL SAN PABLO', 'PLANETA RICA', 'TIERRALTA', 'VALENCIA',
       'MONTERIA', 'CERETE', 'CIENAGA DE ORO', 'SAHAGUN', 'PUEBLO NUEVO',
       'MONITOS', 'COTORRA', 'CHIMA', 'LORICA', 'MOMIL', 'PURISIMA',
       'SAN ANDRES SOTAVENTO (1) (3)', 'SAN ANTERO', 'TUCHIN (1)',
       'MONTELIBANO(1)(3)', 'LA APARTADA', 'LOS CORDOBAS',
       'SAN JOSE DE URE(1)', 'GACHANCIPA', 'SOACHA', 'CHIA', 'CHIPAQUE',
       'CHOACHI', 'EL COLEGIO', 'FOSCA', 'FUNZA', 'GIRARDOT', 'RICAURTE',
       'TOCAIMA', 'GUATAQUI', 'GUTIERREZ', 'LENGUAZAQUE', 'MADRID',
       'SUSA', 'TAUSA', 'CHAGUANI', 'FUSAGASUGA', 'GACHALA', 'LA PENA',
       'PUERTO SALGAR', 'FACATATIVA', 'LA VEGA', 'CABRERA', 'GUACHETA',
       'VILLAGOMEZ', 'CAPARRAPI', 'SOPO', 'PACHO', 'COGUA', 'VIOTA',
       'LA CALERA', 'SAN CAYETANO', 'CACHIPAY', 'BOJACA', 'ANOLAIMA',
       'GUAYABETAL', 'GAMA', 'SAN JUAN DE RIO SECO', 'UNE', 'MANTA',
       'ZIPAQUIRA', 'CHOCONTA', 'PAIME', 'ARBELAEZ', 'JUNIN', 'NIMAIMA',
       'MEDINA', 'TOPAIPI', 'MACHETA', 'CARMEN DE CARUPA', 'UTICA',
       'ALBAN', 'NEMOCON', 'SASAIMA', 'VILLETA', 'CAJICA', 'TENA',
       'QUEBRADANEGRA', 'PASCA', 'PARATEBUENO', 'SUPATA', 'SAN BERNARDO',
       'UBAQUE', 'SUESCA', 'TIBACUY', 'BITUIMA', 'VERGARA', 'BELTRAN',
       'LA PALMA', 'FUQUENE', 'SUTATAUSA', 'QUIPILE', 'SIMIJACA',
       'MOSQUERA', 'FOMEQUE', 'QUETAME', 'GUAYABAL DE SIQUIMA',
       'TIBIRITA', 'VILLAPINZON', 'YACOPI', 'JERUSALEN', 'UBALA', 'COTA',
       'GACHETA', 'TENJO', 'SIBATE', 'TOCANCIPA', 'CAQUEZA', 'TABIO',
       'SESQUILE', 'SUBACHOQUE', 'EL ROSAL', 'ANAPOIMA', 'LA MESA',
       'NOCAIMA', 'SILVANIA', 'SAN ANTONIO DEL TEQUENDAMA', 'GUADUAS',
       'GUATAVITA', 'VIANI', 'NILO', 'PANDI', 'CUCUNUBA', 'AGUA DE DIOS',
       'INIRIDA', 'SAN JOSE DEL GUAVIARE', 'EL RETORNO', 'GARZON',
       'ISNOS', 'PALERMO', 'SAN AGUSTIN', 'OPORAPA', 'PITALITO',
       'LA PLATA', 'NEIVA', 'NATAGA', 'ELIAS', 'AGRADO', 'PITAL',
       'BARAYA', 'COLOMBIA', 'PAICOL', 'TARQUI', 'CAMPOALEGRE', 'RIVERA',
       'TERUEL', 'HOBO', 'LA ARGENTINA', 'SALADOBLANCO', 'YAGUARA',
       'GIGANTE', 'ACEVEDO', 'AIPE', 'IQUIRA', 'ALTAMIRA', 'ALGECIRAS',
       'TIMANA', 'TESALIA', 'TELLO', 'SUAZA', 'MAICAO', 'RIOHACHA',
       'BARRANCAS', 'DISTRACCION', 'EL MOLINO', 'FONSECA', 'HATONUEVO',
       'SAN JUAN DEL CESAR', 'LA JAGUA DEL PILAR', 'URUMITA',
       'SANTA MARTA', 'TENERIFE', 'FUNDACION', 'CIENAGA', 'ARIGUANI',
       'ZONA BANANERA', 'ZAPAYAN', 'PLATO', 'EL PINON',
       'SANTA BARBARA DE PINTO', 'MESETAS', 'EL CASTILLO',
       'VILLAVICENCIO', 'RESTREPO', 'PUERTO GAITAN', 'ACACIAS',
       'CABUYARO', 'CUMARAL', 'EL DORADO', 'FUENTE DE ORO', 'GUAMAL',
       'MAPIRIPAN', 'LA MACARENA', 'URIBE', 'PUERTO CONCORDIA',
       'PUERTO LLERAS', 'SAN CARLOS DE GUAROA', 'SAN JUAN DE ARAMA',
       'VISTAHERMOSA', 'SAN JUANITO', 'PUERTO LOPEZ', 'CASTILLA LA NUEVA',
       'BARRANCA DE UPIA', 'SAN MARTIN', 'PASTO', 'POTOSI', 'SANDONA',
       'TUQUERRES', 'PUPIALES', 'TAMINANGO', 'CHACHAG√úI', 'LA CRUZ',
       'CONSACA', 'CONTADERO', 'SAMANIEGO', 'OLAYA HERRERA', 'EL CHARCO',
       'FRANCISCO PIZARRO', 'LA TOLA', 'MAG√úI', 'BUESACO', 'GUAITARILLA',
       'MALLAMA', 'SANTACRUZ', 'ALDANA', 'EL TABLON DE GOMEZ', 'COLON',
       'POLICARPA', 'SAN ANDRES DE TUMACO', 'CUMBITARA', 'ROBERTO PAYAN',
       'ANCUYA', 'LA FLORIDA', 'ABREGO', 'CONVENCION', 'TIBU',
       'VILLA CARO', 'EL ZULIA', 'OCANA', 'PAMPLONA', 'SAN CALIXTO',
       'BOCHALEMA', 'CHINACOTA', 'VILLA DEL ROSARIO', 'DURANIA',
       'CUCUTILLA', 'PUERTO SANTANDER', 'SANTIAGO', 'CHITAGA', 'CACOTA',
       'BUCARASICA', 'SALAZAR', 'RAGONVALIA', 'PAMPLONITA', 'LABATECA',
       'SILOS', 'ARBOLEDAS', 'MUTISCUA', 'CUCUTA', 'HERRAN', 'LOS PATIOS',
       'CACHIRA', 'LEGUIZAMO', 'VALLE DEL GUAMUEZ', 'MOCOA', 'CIRCASIA',
       'FILANDIA', 'GENOVA', 'LA TEBAIDA', 'MONTENEGRO', 'PIJAO',
       'QUIMBAYA', 'SALENTO', 'CORDOBA', 'CALARCA', 'MARSELLA', 'APIA',
       'LA CELIA', 'MISTRATO', 'QUINCHIA', 'LA VIRGINIA', 'DOSQUEBRADAS',
       'SANTA ROSA DE CABAL', 'PEREIRA', 'BELEN DE UMBRIA', 'BUCARAMANGA',
       'FLORIDABLANCA', 'GIRON', 'CAPITANEJO', 'EL GUACAMAYO', 'G√úEPSA',
       'MATANZA', 'LEBRIJA', 'SAN GIL', 'SURATA', 'CHARALA', 'ARATOCA',
       'CARCASI', 'COROMORO', 'PARAMO', 'MALAGA', 'TONA', 'PALMAR',
       'EL PLAYON', 'SUAITA', 'CERRITO', 'ENCISO', 'CEPITA', 'CURITI',
       'LOS SANTOS', 'ZAPATOCA', 'VELEZ', 'PIEDECUESTA', 'PINCHOTE',
       'OIBA', 'LA PAZ', 'GAMBITA', 'CALIFORNIA', 'CHARTA', 'SAN BENITO',
       'PUENTE NACIONAL', 'CONTRATACION', 'AGUADA', 'JESUS MARIA',
       'SAN JOSE DE MIRANDA', 'GUACA', 'SAN MIGUEL', 'BARRANCABERMEJA',
       'PUERTO PARRA', 'HATO', 'GUAVATA', 'JORDAN', 'FLORIAN',
       'SAN VICENTE DE CHUCURI', 'EL CARMEN DE CHUCURI', 'GALAN',
       'CIMITARRA', 'CONFINES', 'ENCINO', 'SIMACOTA', 'LANDAZURI',
       'MOGOTES', 'LA BELLEZA', 'PUERTO WILCHES', 'BARICHARA', 'GUAPOTA',
       'VALLE DE SAN JOSE', 'PALMAS DEL SOCORRO', 'MOLAGAVITA',
       'SANTA HELENA DEL OPON', 'SAN JOAQUIN', 'SOCORRO', 'SAN MARCOS',
       'GUARANDA', 'SAN ONOFRE', 'OVEJAS', 'MAJAGUAL', 'SANTIAGO DE TOLU',
       'EL ROBLE', 'CAIMITO', 'IBAGUE', 'ALPUJARRA', 'FLANDES', 'FRESNO',
       'GUAMO', 'LIBANO', 'MELGAR', 'PURIFICACION', 'ESPINAL',
       'RIOBLANCO', 'ORTEGA', 'LERIDA', 'AMBALEMA', 'PIEDRAS', 'ROVIRA',
       'NATAGAIMA', 'VILLARRICA', 'ICONONZO', 'CHAPARRAL', 'ANZOATEGUI',
       'ATACO', 'MARIQUITA', 'COYAIMA', 'ALVARADO', 'SANTA ISABEL',
       'PALOCABILDO', 'CARMEN DE APICALA', 'PRADO', 'ARMERO',
       'VILLAHERMOSA', 'HERVEO', 'FALAN', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'BUGALAGRANDE', 'CAICEDONIA', 'CANDELARIA',
       'DAGUA', 'EL AGUILA', 'EL CAIRO', 'EL CERRITO', 'EL DOVIO',
       'FLORIDA', 'GINEBRA', 'GUACARI', 'JAMUNDI', 'LA CUMBRE', 'OBANDO',
       'PRADERA', 'RIOFRIO', 'ROLDANILLO', 'SEVILLA', 'TORO', 'TRUJILLO',
       'ULLOA', 'VIJES', 'YOTOCO', 'ZARZAL', 'YUMBO', 'CALIMA',
       'GUADALAJARA DE BUGA', 'CALI', 'PALMIRA', 'BUENAVENTURA', 'MITU',
       'TARAIRA', 'CARURU', 'CUMARIBO', 'PUERTO CARRENO', 'LETICIA',
       'ABRIAQUI', 'CANASGORDAS', 'TAMESIS', 'DON MATIAS', 'REMEDIOS',
       'CAMPO DE LA CRUZ', 'MANATI', 'MARGARITA', 'MOMPOS', 'PAYA',
       'VENTAQUEMADA', 'BELEN', 'MONGUA', 'CHIVATA', 'VALPARAISO',
       'ASTREA', 'BOJAYA', 'APULO', 'GUASCA',
       'VILLA DE SAN DIEGO DE UBATE', 'VILLAVIEJA', 'SANTA ANA',
       'REMOLINO', 'PIVIJAY', 'ARACATACA', 'CUBARRAL', 'EL CALVARIO',
       'LEJANIAS', 'LA LLANADA', 'VILLAGARZON', 'MACARAVITA',
       'SAN ANTONIO', 'VENADILLO', 'HONDA', 'CAJAMARCA', 'BURITICA',
       'SIMITI', 'PINILLOS', 'TALAIGUA NUEVO', 'SACHICA', 'RAMIRIQUI',
       'SANTA ROSA DE VITERBO', 'SAMACA', 'ALMEIDA', 'TOPAGA', 'CUITIVA',
       'LABRANZAGRANDE', 'BECERRIL', 'PUEBLO BELLO', 'UNION PANAMERICANA',
       'ALTO BAUDO', 'PEDRAZA', 'SITIONUEVO', 'PUEBLOVIEJO', 'IPIALES',
       'LOURDES', 'SARDINATA', 'ORITO', 'SIBUNDOY', 'COLOSO', 'PALMITO',
       'CASABIANCA', 'SUAREZ', 'HELICONIA', 'SAN ROQUE', 'SAN CRISTOBAL',
       'MILAN', 'INZA', 'GUAPI', 'CAJIBIO', 'EL COPEY', 'JURADO',
       'PUERTO ESCONDIDO', 'DIBULLA', 'EL PENOL', 'SAPUYES',
       'PUERTO CAICEDO', 'CHIPATA', 'VETAS', 'ONZAGA', 'OCAMONTE',
       'PLANADAS', 'VALLE DE SAN JUAN', 'SAN JUAN DE URABA', 'ALMAGUER',
       'RIO DE ORO', 'SAN BERNARDO DEL VIENTO', 'PULI',
       'PIJINO DEL CARMEN', 'GALERAS', 'PUERTO NARI√ëO', 'ITAG√úI', 'PE√ëOL',
       'SAN VICENTE FERRER', 'SAN JOSE DE LA MONTA√ëA',
       'SAN PEDRO DE LOS MILAGROS', 'SANTA FE DE ANTIOQUIA', 'BRICE√ëO',
       'CA√ëASGORDAS', 'BETANIA', 'DONMATIAS', 'NARI√ëO', 'REPELON',
       'SANTA LUCIA', 'CARTAGENA DE INDIAS', 'SAN JACINTO',
       'SANTA CRUZ DE MOMPOX', 'CANTAGALLO', 'EL GUAMO', 'SOGAMOSO',
       'CERINZA', 'G√úICAN DE LA SIERRA', 'SOTAQUIRA', 'LA MONTA√ëITA',
       'MANI', 'PIENDAMO - TUNIA', 'LOPEZ DE MICAY',
       'MANAURE BALCON DEL CESAR', 'ATRATO', 'TADO', 'CHINU', 'MO√ëITOS',
       'PURISIMA DE LA CONCEPCION', 'SAN ANDRES DE SOTAVENTO', 'TUCHIN',
       'MONTELIBANO', 'LA PE√ëA', 'SAN JUAN DE RIOSECO', 'EL PI√ëON',
       'NUEVA GRANADA', 'PIJI√ëO DEL CARMEN', 'GUALMATAN', 'OCA√ëA',
       'GRAMALOTE', 'SAN JOSE DE CUCUTA', 'PUERTO LEGUIZAMO', 'EL PE√ëON',
       'SINCELEJO', 'COROZAL', 'SAN LUIS DE SINCE',
       'SAN SEBASTIAN DE MARIQUITA', 'CARTAGO', 'TULUA', 'PUERTO CARRE√ëO',
       'VIRACACHA', 'CALOTO', 'CARMEN DEL DARIEN', 'SABANAS DE SAN ANGEL',
       'GUATICA', 'PUEBLO RICO', 'MURILLO', 'LA PRIMAVERA', 'BAGADO',
       'RIO QUITO', 'LLORO', 'SAN PELAYO', 'EL BANCO', 'SAN ZENON',
       'GUACHUCAL', 'SAMPUES', 'COVE√ëAS', 'CUNDAY', 'VERSALLES'],
      dtype=object)

In [ ]:
in_bogota= dataset_general['MUNICIPIO'] == "BOGOTA, D.C."
in_bogota

0       False
1       False
2       False
3       False
4       False
        ...
6937    False
6938    False
6939    False
6940    False
6941    False
Name: MUNICIPIO, Length: 6942, dtype: bool

In [ ]:
dataset_bogota=dataset_general[in_bogota]
dataset_bogota

,IDENTIFICADOR EMPRESA,EMPRESA,A√ëO,C√ìDIGO DANE,DEPARTAMENTO,MUNICIPIO,1T,2T,3T,4T,5T,6T,1P,2P,3P,4P,5P,6P
143,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,11001,"BOGOTA, D.C.","BOGOTA, D.C.",15.103.158,72.106.197,69.500.747,30.159.467,11.087.023,10.703.104,"23,72","21,53","19,33","19,19","21,87","26,01"
1016,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,11001,"BOGOTA, D.C.","BOGOTA, D.C.",15.294.156,72.872.505,69.476.632,30.000.490,11.116.290,10.538.900,"23,58","21,37","19,00","18,70","21,00","25,15"
1891,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,11001,"BOGOTA, D.C.","BOGOTA, D.C.",14.376.680,70.093.859,65.173.133,28.571.218,10.206.408,9.576.765,"21,93","20,25","17,83","17,53","19,46","23,53"
2149,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,25004,CUNDINAMARCA,"BOGOTA, D.C.",308,1.706,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2771,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,11001,"BOGOTA, D.C.","BOGOTA, D.C.",20.181.940,97.882.542,94.689.530,38.648.802,14.349.529,13.761.187,"21,59","20,77","18,39","17,83","19,52","22,98"
3601,70,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,11001,"BOGOTA, D.C.","BOGOTA, D.C.",15.723.513,79.567.237,76.058.201,30.983.396,11.285.651,10.503.659,"21,99","21,10","18,29","17,66","19,47","22,87"
4330,70,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,11001,"BOGOT√Å, D.C.","BOGOTA, D.C.",16.654.516,79.416.240,75.798.664,31.699.349,11.524.868,10.557.076,"10,83","10,59","9,10","8,76","9,62","11,20"
4331,1922,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,11001,"BOGOT√Å, D.C.","BOGOTA, D.C.",895,281.130,3.455,1.209,12.534,2.077,"12,43","10,31","14,40","11,19","11,61","10,82"
4332,22636,COJARDIN SA ESP,2019,11001,"BOGOT√Å, D.C.","BOGOTA, D.C.",NaN,NaN,NaN,56.784,15.459,250.025,NaN,NaN,NaN,"31,04","8,46","8,75"
5116,70,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,11001,"BOGOTA, D.C.","BOGOTA, D.C.",17.139.759,81.614.514,78.006.097,32.782.875,11.915.894,11.031.496,"10,94","10,69","8,92","8,57",NaN,"9,92"
5117,1922,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,11001,"BOGOTA, D.C.","BOGOTA, D.C.",1.429,366.073,4.914,1.824,14.472,3.364,NaN,"13,10","19,68","13,72",NaN,"15,35"
5118,22636,COJARDIN SA ESP,2020,11001,"BOGOTA, D.C.","BOGOTA, D.C.",NaN,NaN,227,26.866,16.376,265.663,NaN,NaN,NaN,"26,63",NaN,"18,85"
6091,70,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,11001,"BOGOTA, D.C.","BOGOTA, D.C.",1.504.463,6.855.130,6.428.803,2.735.413,1.009.380,852.060,"11,1","10,56","8,83","8,50","9,40","10,54"
6092,1922,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,11001,"BOGOTA, D.C.","BOGOTA, D.C.",124,30.834,368,206,1.352,276,"13,0","14,22","18,42","17,69","15,31","17,26"
6093,22636,COJARDIN SA ESP,2021,11001,"BOGOTA, D.C.","BOGOTA, D.C.",NaN,3,101,3.021,1.609,22.108,NaN,"2,50","60,40","36,47","21,53","18,02"
6094,23499,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,11001,"BOGOTA, D.C.","BOGOTA, D.C.",15.479,NaN,NaN,NaN,NaN,NaN,"11,2",NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset_bogota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 143 to 6094
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IDENTIFICADOR EMPRESA  16 non-null     int64
 1   EMPRESA                16 non-null     object
 2   A√ëO                    16 non-null     int64
 3   C√ìDIGO DANE            16 non-null     int64
 4   DEPARTAMENTO           16 non-null     object
 5   MUNICIPIO              16 non-null     object
 6   1T                     13 non-null     object
 7   2T                     13 non-null     object
 8   3T                     14 non-null     object
 9   4T                     14 non-null     object
 10  5T                     14 non-null     object
 11  6T                     14 non-null     object
 12  1P                     11 non-null     object
 13  2P                     12 non-null     object
 14  3P                     12 non-null     object
 15  4P                     14 non-null     object
 16  5P                     11 non-null     object
 17  6P                     14 non-null     object
dtypes: int64(3), object(15)
memory usage: 2.4+ KB

### 1.1.3 Se eliminan columnas que se consideran innecesarias.

In [ ]:
dataini = dataset_bogota
# axis=1 --> elimina columnas
dataini = dataini.drop(['IDENTIFICADOR EMPRESA','C√ìDIGO DANE','DEPARTAMENTO','MUNICIPIO','1P','2P','3P','4P','5P','6P' ], axis=1)
dataset_bogota=dataini
dataset_bogota

,EMPRESA,A√ëO,1T,2T,3T,4T,5T,6T
143,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,15.103.158,72.106.197,69.500.747,30.159.467,11.087.023,10.703.104
1016,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,15.294.156,72.872.505,69.476.632,30.000.490,11.116.290,10.538.900
1891,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,14.376.680,70.093.859,65.173.133,28.571.218,10.206.408,9.576.765
2149,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,308,1.706,0,NaN,NaN,NaN
2771,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,20.181.940,97.882.542,94.689.530,38.648.802,14.349.529,13.761.187
3601,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,15.723.513,79.567.237,76.058.201,30.983.396,11.285.651,10.503.659
4330,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,16.654.516,79.416.240,75.798.664,31.699.349,11.524.868,10.557.076
4331,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,895,281.130,3.455,1.209,12.534,2.077
4332,COJARDIN SA ESP,2019,NaN,NaN,NaN,56.784,15.459,250.025
5116,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,17.139.759,81.614.514,78.006.097,32.782.875,11.915.894,11.031.496
5117,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,1.429,366.073,4.914,1.824,14.472,3.364
5118,COJARDIN SA ESP,2020,NaN,NaN,227,26.866,16.376,265.663
6091,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,1.504.463,6.855.130,6.428.803,2.735.413,1.009.380,852.060
6092,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,124,30.834,368,206,1.352,276
6093,COJARDIN SA ESP,2021,NaN,3,101,3.021,1.609,22.108
6094,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,15.479,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset_bogota

,EMPRESA,A√ëO,1T,2T,3T,4T,5T,6T
143,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,15103158.0,72106197.0,69500747.0,30159467.0,11087023.0,10703104.0
1016,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,15294156.0,72872505.0,69476632.0,30000490.0,11116290.0,10538900.0
1891,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,14376680.0,70093859.0,65173133.0,28571218.0,10206408.0,9576765.0
2149,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,308.0,1706.0,0.0,NaN,NaN,NaN
2771,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,20181940.0,97882542.0,94689530.0,38648802.0,14349529.0,13761187.0
3601,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,15723513.0,79567237.0,76058201.0,30983396.0,11285651.0,10503659.0
4330,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,16654516.0,79416240.0,75798664.0,31699349.0,11524868.0,10557076.0
4331,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,895.0,281130.0,3455.0,1209.0,12534.0,2077.0
4332,COJARDIN SA ESP,2019,NaN,NaN,NaN,56784.0,15459.0,250025.0
5116,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,17139759.0,81614514.0,78006097.0,32782875.0,11915894.0,11031496.0
5117,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,1429.0,366073.0,4914.0,1824.0,14472.0,3364.0
5118,COJARDIN SA ESP,2020,NaN,NaN,227.0,26866.0,16376.0,265663.0
6091,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,1504463.0,6855130.0,6428803.0,2735413.0,1009380.0,852060.0
6092,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,124.0,30834.0,368.0,206.0,1352.0,276.0
6093,COJARDIN SA ESP,2021,NaN,3.0,101.0,3021.0,1609.0,22108.0
6094,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,15479.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset_bogota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 143 to 6094
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   EMPRESA  16 non-null     object
 1   A√ëO      16 non-null     int64
 2   1T       13 non-null     object
 3   2T       13 non-null     object
 4   3T       14 non-null     object
 5   4T       14 non-null     object
 6   5T       14 non-null     object
 7   6T       14 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.1+ KB

### 1.1.4 Verificamos datos faltantes

In [ ]:
dataset_bogota.isnull()

      EMPRESA    A√ëO     1T     2T     3T     4T     5T     6T
143     False  False  False  False  False  False  False  False
1016    False  False  False  False  False  False  False  False
1891    False  False  False  False  False  False  False  False
2149    False  False  False  False  False   True   True   True
2771    False  False  False  False  False  False  False  False
3601    False  False  False  False  False  False  False  False
4330    False  False  False  False  False  False  False  False
4331    False  False  False  False  False  False  False  False
4332    False  False   True   True   True  False  False  False
5116    False  False  False  False  False  False  False  False
5117    False  False  False  False  False  False  False  False
5118    False  False   True   True  False  False  False  False
6091    False  False  False  False  False  False  False  False
6092    False  False  False  False  False  False  False  False
6093    False  False   True  False  False  False  False  False
6094    False  False  False   True   True   True   True   True

In [ ]:
dataframe_bogota= pd.DataFrame(dataset_bogota)

Contamos los datos faltantes por columna.

In [ ]:
dataframe_bogota.isnull().sum(min_count=1)
#dataframe_bogota.isnull().sum().sum()

EMPRESA    0
A√ëO        0
1T         3
2T         3
3T         2
4T         2
5T         2
6T         2
dtype: int64

### 1.1.5 Tratamiento de los nan
El tratamiento de los datos faltantes en por el valor de la media por columna

In [ ]:
#dataframe_bogota['1T'] = [str(x).replace('.','') for x in dataframe_bogota['1T']]
#dataframe_bogota['2T'] = [str(x).replace('.','') for x in dataframe_bogota['2T']]
#dataframe_bogota['3T'] = [str(x).replace('.','') for x in dataframe_bogota['3T']]
#dataframe_bogota['4T'] = [str(x).replace('.','') for x in dataframe_bogota['4T']]
#dataframe_bogota['5T'] = [str(x).replace('.','') for x in dataframe_bogota['5T']]
#dataframe_bogota['6T'] = [str(x).replace('.','') for x in dataframe_bogota['6T']]
#dataframe_bogota['1T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['1T']]
#dataframe_bogota['2T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['2T']]
#dataframe_bogota['3T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['3T']]
#dataframe_bogota['4T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['4T']]
#dataframe_bogota['5T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['5T']]
#dataframe_bogota['6T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['6T']]
#dataframe_bogota
#
#dataframe_bogota['1T'] = dataframe_bogota['1T'].apply(lambda x: x.replace(".",""))

,EMPRESA,A√ëO,1T,2T,3T,4T,5T,6T
143,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,15103158,72106197,69500747,30159467,11087023,10703104
1016,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,15294156,72872505,69476632,30000490,11116290,10538900
1891,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,14376680,70093859,65173133,28571218,10206408,9576765
2149,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,308,1706,0,NaN,NaN,NaN
2771,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,20181940,97882542,94689530,38648802,14349529,13761187
3601,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,15723513,79567237,76058201,30983396,11285651,10503659
4330,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,16654516,79416240,75798664,31699349,11524868,10557076
4331,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,895,281130,3455,1209,12534,2077
4332,COJARDIN SA ESP,2019,NaN,NaN,NaN,56784,15459,250025
5116,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,17139759,81614514,78006097,32782875,11915894,11031496
5117,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,1429,366073,4914,1824,14472,3364
5118,COJARDIN SA ESP,2020,NaN,NaN,227,26866,16376,265663
6091,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,1504463,6855130,6428803,2735413,1009380,852060
6092,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,124,30834,368,206,1352,276
6093,COJARDIN SA ESP,2021,NaN,3,101,3021,1609,22108
6094,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,15479,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataframe_bogota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 143 to 6094
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   EMPRESA  16 non-null     object
 1   A√ëO      16 non-null     int64
 2   1T       16 non-null     object
 3   2T       16 non-null     object
 4   3T       16 non-null     object
 5   4T       16 non-null     object
 6   5T       16 non-null     object
 7   6T       14 non-null     float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
#dataframe_bogota['6T'] = [str(x).replace('nan','NaN') for x in dataframe_bogota['6T']]

dataframe_bogota['1T'] = pd.to_numeric(dataframe_bogota['1T'], errors="coerce")
dataframe_bogota['2T'] = pd.to_numeric(dataframe_bogota['2T'], errors="coerce")
dataframe_bogota['3T'] = pd.to_numeric(dataframe_bogota['3T'], errors="coerce")
dataframe_bogota['4T'] = pd.to_numeric(dataframe_bogota['4T'], errors="coerce")
dataframe_bogota['5T'] = pd.to_numeric(dataframe_bogota['5T'], errors="coerce")
dataframe_bogota['6T'] = pd.to_numeric(dataframe_bogota['6T'], errors="coerce")
dataframe_bogota

,EMPRESA,A√ëO,1T,2T,3T,4T,5T,6T
143,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,15103158.0,72106197.0,69500747.0,30159467.0,11087023.0,10703104.0
1016,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,15294156.0,72872505.0,69476632.0,30000490.0,11116290.0,10538900.0
1891,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,14376680.0,70093859.0,65173133.0,28571218.0,10206408.0,9576765.0
2149,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,308.0,1706.0,0.0,NaN,NaN,NaN
2771,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,20181940.0,97882542.0,94689530.0,38648802.0,14349529.0,13761187.0
3601,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,15723513.0,79567237.0,76058201.0,30983396.0,11285651.0,10503659.0
4330,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,16654516.0,79416240.0,75798664.0,31699349.0,11524868.0,10557076.0
4331,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,895.0,281130.0,3455.0,1209.0,12534.0,2077.0
4332,COJARDIN SA ESP,2019,NaN,NaN,NaN,56784.0,15459.0,250025.0
5116,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,17139759.0,81614514.0,78006097.0,32782875.0,11915894.0,11031496.0
5117,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,1429.0,366073.0,4914.0,1824.0,14472.0,3364.0
5118,COJARDIN SA ESP,2020,NaN,NaN,227.0,26866.0,16376.0,265663.0
6091,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,1504463.0,6855130.0,6428803.0,2735413.0,1009380.0,852060.0
6092,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,124.0,30834.0,368.0,206.0,1352.0,276.0
6093,COJARDIN SA ESP,2021,NaN,3.0,101.0,3021.0,1609.0,22108.0
6094,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,15479.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
from sklearn.impute import SimpleImputer
X=dataframe_bogota.iloc[:,:].values
imp= SimpleImputer(missing_values=np.nan, strategy='mean')
imp= imp.fit(X[:,2:8])
X[:,2:8]=imp.transform(X[:,2:8])
X

array([['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2014, 15103158.0, 72106197.0, 69500747.0, 30159467.0, 11087023.0,
        10703104.0],
       ['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2015, 15294156.0, 72872505.0, 69476632.0, 30000490.0, 11116290.0,
        10538900.0],
       ['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2016, 14376680.0, 70093859.0, 65173133.0, 28571218.0, 10206408.0,
        9576765.0],
       ['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2016, 308.0, 1706.0, 0.0, 16119351.42857143, 5896917.5,
        5576268.571428572],
       ['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2017, 20181940.0, 97882542.0, 94689530.0, 38648802.0, 14349529.0,
        13761187.0],
       ['EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE BOGOT√Å E.S.P',
        2018, 15723513.0, 79567237.0, 76058201.0, 30983396.0, 11285651.0,
        10503659.0],
       ['EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT√Å E.S.P', 2019,
        16654516.0, 79416240.0, 75798664.0, 31699349.0, 11524868.0,
        10557076.0],
       ['ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS SAN ISIDRO I Y II SECTOR SAN LUIS Y LA SURE√ëA  ESP',
        2019, 895.0, 281130.0, 3455.0, 1209.0, 12534.0, 2077.0],
       ['COJARDIN SA ESP', 2019, 8922801.538461538, 43160613.07692308,
        38224348.0, 56784.0, 15459.0, 250025.0],
       ['EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT√Å E.S.P', 2020,
        17139759.0, 81614514.0, 78006097.0, 32782875.0, 11915894.0,
        11031496.0],
       ['ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS SAN ISIDRO I Y II SECTOR SAN LUIS Y LA SURE√ëA  ESP',
        2020, 1429.0, 366073.0, 4914.0, 1824.0, 14472.0, 3364.0],
       ['COJARDIN SA ESP', 2020, 8922801.538461538, 43160613.07692308,
        227.0, 26866.0, 16376.0, 265663.0],
       ['EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT√Å E.S.P', 2021,
        1504463.0, 6855130.0, 6428803.0, 2735413.0, 1009380.0, 852060.0],
       ['ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS SAN ISIDRO I Y II SECTOR SAN LUIS Y LA SURE√ëA  ESP',
        2021, 124.0, 30834.0, 368.0, 206.0, 1352.0, 276.0],
       ['COJARDIN SA ESP', 2021, 8922801.538461538, 3.0, 101.0, 3021.0,
        1609.0, 22108.0],
       ['ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITARIO AGUAS CALIENTES ',
        2021, 15479.0, 43160613.07692308, 38224348.0, 16119351.42857143,
        5896917.5, 5576268.571428572]], dtype=object)

In [ ]:
df_bogota = pd.DataFrame(X,
                       columns=['Empresa', 'A√±o', '1T', '2T','3T','4T','5T','6T']
                         )
df_bogota

,Empresa,A√±o,1T,2T,3T,4T,5T,6T
0,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2014,15103158.0,72106197.0,69500747.0,30159467.0,11087023.0,10703104.0
1,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2015,15294156.0,72872505.0,69476632.0,30000490.0,11116290.0,10538900.0
2,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,14376680.0,70093859.0,65173133.0,28571218.0,10206408.0,9576765.0
3,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2016,308.0,1706.0,0.0,16119351.428571,5896917.5,5576268.571429
4,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2017,20181940.0,97882542.0,94689530.0,38648802.0,14349529.0,13761187.0
5,"EMPRESA DE ACUEDUCTO, ALCANTARILLADO Y ASEO DE...",2018,15723513.0,79567237.0,76058201.0,30983396.0,11285651.0,10503659.0
6,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2019,16654516.0,79416240.0,75798664.0,31699349.0,11524868.0,10557076.0
7,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2019,895.0,281130.0,3455.0,1209.0,12534.0,2077.0
8,COJARDIN SA ESP,2019,8922801.538462,43160613.076923,38224348.0,56784.0,15459.0,250025.0
9,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2020,17139759.0,81614514.0,78006097.0,32782875.0,11915894.0,11031496.0
10,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2020,1429.0,366073.0,4914.0,1824.0,14472.0,3364.0
11,COJARDIN SA ESP,2020,8922801.538462,43160613.076923,227.0,26866.0,16376.0,265663.0
12,EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOT...,2021,1504463.0,6855130.0,6428803.0,2735413.0,1009380.0,852060.0
13,ASOCIACION DE SERVICIOS P√öBLICOS COMUNITARIOS ...,2021,124.0,30834.0,368.0,206.0,1352.0,276.0
14,COJARDIN SA ESP,2021,8922801.538462,3.0,101.0,3021.0,1609.0,22108.0
15,ASOCIACION DE USUARIOS DEL ACUEDUCTO COMUNITAR...,2021,15479.0,43160613.076923,38224348.0,16119351.428571,5896917.5,5576268.571429